{erl_opts, [debug_info]}.
{deps, [
    {certifi, "2.0.0"},
    {idna, "5.1.0"},
    {poolboy, "1.5.1"},
    {ssl_verify_fun, "1.1.3"}
]}.

{profiles, [{docs, [{deps,
                     [
                      {edown,
                       {git, "https://github.com/uwiger/edown.git",
                        {tag, "0.8"}}}
                     ]},

              {edoc_opts, [{doclet, edown_doclet},
                           {packages, false},
                           {subpackages, true},
                           {top_level_readme,
{"./README.md", "http://github.com/sourgrasses/tabulerl"}}]}]}]}.

{dialyzer, [
  {warnings, [
   race_conditions,
    no_return,
    unmatched_returns,
    error_handling%,
    %unknown
  ]},
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "tabulerl"},
  {base_plt_location, "."},
  {base_plt_prefix, "tabulerl"}
]}.
